@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>WHYMUSIC Shop</p>
    <p>You can find Products and Categories from navigation bar links</p>
</div>
